.star-rating {
  display: flex;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.active {
  color: gold;
  transition: color 0.3s ease-in-out;
}

.inactive {
  color: #444444;
  transition: color 0.3s ease-in-out;
}
